{% extends "admin/base_site.html" %}

{% block content %}
<h1>Аналітика рис тварин</h1>

<table class="admin-table" style="width:100%; border-collapse: collapse;">
    <thead>
        <tr>
        <th>Песик</th>
        <th>Кількість оцінок</th>
        <th>Кількість рис</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        {% for animal in animals %}
        <tr>
            <td>{{ animal.animal__name }}</td>
            <td>{{ animal.reviews_count }}</td>
            <td>{{ animal.traits_count }}</td>
            <td>
            <a href="{% url 'admin:behavior_reviews_animal_detail' animal.animal_id %}">
                Відкрити
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Поки що немає оцінок.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}